@use './styling/custom-shape-divider';
@use './styling/back-to-top-button';
@use './styling/home-page-typing-animation';
@use './styling/center-line-circle-seperator';

// color variables
$dark-grey: #2e3440;
$light-grey-main: #2e3440;
$light-grey: #9e9e9e;
$white-font: #eceff4;
$blue-main: #88c0d0;

* {
  margin: 0;
  padding: 0;
}

/* Creates smooth scrolling animation.
Leaves padding on top so the navigation does not cover the content  */

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5vh;
}

body {
  background-color: $dark-grey;
  color: $white-font;
  font-family: Montserrat;
}

// navigation bar
.sticky {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar {
  height: 6vh;
  background-color: $dark-grey;
  display: flex;
  // border: solid;
}

// display profile picture on About page
.display-photo {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-image: url('http://madangurung.com/img/profile.jpg');
  background-position: top;
  margin: 50px 0 50px 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.project-container {
  // border: solid;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-img-container {
  height: 300px;
  border: solid;
  width: 500px;
  margin: 10px;
}

// underline design for the page titles
.text-bar {
  height: 55px;
  width: 400px;
  background-color: $white-font;
  /* border: solid; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-img-container a {
  text-decoration: none;
  color: black;
}

.work-line {
  background-color: #9e9e9e;
  width: 135px;
  height: 0.5px;
  margin: 10px 0 10px 0;
}

.work-line-opposite {
  background-color: #9e9e9e;
  width: 135px;
  height: 0.5px;
  margin: 10px 0 10px 338px;
}

.card-container {
  height: 230px;
  width: 300px;
  background-color: antiquewhite;
}

// footer styles
.card-footer {
  height: 30px;
  width: 30px;
  background-color: $light-grey-main;
}

.card-outer {
  transition: 0.3s;
  width: 300px;
  background-color: $blue-main;
  border-radius: 5px;
}

.card-outer:hover {
  transform: scale(1.1);
}

.card-outer a {
  text-decoration: none;
}

.container-inner {
  padding: 10px 10px;
  color: $dark-grey;
}

.container-inner p {
  text-transform: uppercase;
  text-align: center;
}

.home-text-blue {
  color: $blue-main;
}

.error-text {
  color: #dc143c;
}

section {
  width: 100vw;
  height: auto;
  position: relative;
}

// contact page

.contact-container {
  display: flex;
  flex-direction: column;
  margin: 50px 0 0 0;
  // border: solid black;
  height: auto;
  width: 90%;
  max-width: 1200px;
  padding: 0 0 20px 0;
}

.contact-container-info {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // border: solid $white-font;
  padding: 0 0 50px 0;
}

.contact-container-post {
  // border: solid red;
  display: flex;
  align-items: center;
  width: 100%;
}

// contact page desktop view

@media screen and (min-width: 600px) {
  .contact-container {
    display: flex;
    flex-direction: row;
    // border: solid black;
    height: 600px;
    width: 90%;
    max-width: 1200px;
  }

  .contact-container-info {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // border: solid $white-font;
    padding: 0 10px 50px 10px;
  }

  .contact-container-post {
    // border: solid red;
    display: flex;
    align-items: center;
    width: 100%;
  }
}
