* {
  margin: 0;
  padding: 0;
}

/* Creates smooth scrolling animation.
Leaves padding on top so the navigation does not cover the content  */

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5vh;
}

body {
  background-color: #2e3440;
  color: #eceff4;
  font-family: Montserrat;
}

.sticky {
  position: sticky;
  top: 0;
}

.navbar {
  height: 5vh;
  background-color: #2e3440;
  display: flex;
  align-items: center;
  /* border: solid; */
}

/* dark gray #2e3440;
light gray #292E39 
font white #ECEFF4
*/

.display-photo {
  border-radius: 50%;
  overflow: hidden;
  width: 200px;
  height: 200px;
  background-image: url('http://madangurung.com/img/profile.jpg');
  background-position: top;
  margin: 50px 0 50px 0;
}

.circle {
  border-radius: 50%;
  background-color: #88c0d0;
  height: 12px;
  width: 12px;
  margin-bottom: 10px;
}

.line {
  width: 2px;
  height: 400px;
  background-color: #eceff4;
}

.line-education {
  width: 2px;
  height: 150px;
  background-color: #eceff4;
}

.underline-education {
  height: 2px;
  width: 60px;
  margin-top: 15px;
  background-color: #88c0d0;
}
.underline-work {
  height: 2px;
  width: 100px;
  margin-top: 15px;
  background-color: #88c0d0;
}
.underline-about {
  height: 2px;
  width: 60px;
  margin-top: 15px;
  background-color: #88c0d0;
}
.underline-projects {
  height: 2px;
  width: 60px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #88c0d0;
}
