// color variables
$dark-grey: #2e3440;
$light-grey-main: #2e3440;
$light-grey: #9e9e9e;
$white-font: #eceff4;
$blue-main: #88c0d0;

* {
  margin: 0;
  padding: 0;
}

/* Creates smooth scrolling animation.
Leaves padding on top so the navigation does not cover the content  */

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5vh;
}

body {
  background-color: $dark-grey;
  color: $white-font;
  font-family: Montserrat;
}

// navigation bar
.sticky {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar {
  height: 6vh;
  background-color: $dark-grey;
  display: flex;
  align-items: center;
  /* border: solid; */
}

// display profile picture
.display-photo {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-image: url('http://madangurung.com/img/profile.jpg');
  background-position: top;
  margin: 50px 0 50px 0;
  background-repeat: no-repeat;
  background-size: cover;
}

// middle line seperator
.circle {
  border-radius: 50%;
  background-color: $blue-main;
  height: 12px;
  width: 12px;
  margin-bottom: 10px;
}

.line {
  width: 2px;
  height: 600px;
  background-color: $white-font;
}

.line-education {
  width: 2px;
  height: 150px;
  background-color: $white-font;
}

.underline-education {
  height: 2px;
  width: 60px;
  margin-top: 15px;
  background-color: $blue-main;
}
.underline-work {
  height: 2px;
  width: 100px;
  margin-top: 15px;
  background-color: $blue-main;
}
.underline-about {
  height: 2px;
  width: 60px;
  margin-top: 15px;
  background-color: $blue-main;
}
.underline-projects {
  height: 2px;
  width: 60px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: $blue-main;
}

.project-container {
  /* border: solid; */
  width: 100vw;
  /* min-height: 70vh; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-img-container {
  height: 300px;
  border: solid;
  width: 500px;
  margin: 10px;
}

// underline design of the page titles
.text-bar {
  height: 55px;
  width: 400px;
  background-color: $white-font;
  /* border: solid; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-img-container a {
  text-decoration: none;
  color: black;
}

.work-line {
  background-color: #9e9e9e;
  width: 135px;
  height: 0.5px;
  margin: 10px 0 10px 0;
}

.work-line-opposite {
  background-color: #9e9e9e;
  width: 135px;
  height: 0.5px;
  margin: 10px 0 10px 338px;
}

.card-container {
  height: 230px;
  width: 300px;
  background-color: antiquewhite;
}

// footer styles
.card-footer {
  height: 30px;
  width: 30px;
  background-color: $light-grey-main;
}

.card-outer {
  transition: 0.3s;
  width: 300px;
  background-color: $blue-main;
  border-radius: 5px;
}

.card-outer:hover {
  transform: scale(1.1);
}

.card-outer a {
  text-decoration: none;
}

.container-inner {
  padding: 10px 10px;
  color: $dark-grey;
}

.container-inner p {
  text-transform: uppercase;
  text-align: center;
}

.home-text-blue {
  color: $blue-main;
}

.error-text {
  color: #dc143c;
}

/* home page animation  */

.typing-demo {
  width: 33ch;
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
  /* animation-iteration-count: infinite; */
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

section {
  width: 100vw;
  height: auto;
  position: relative;
}

// custom shape divider
// home
.custom-shape-divider-bottom-1648784775 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1648784775 svg {
  position: relative;
  display: block;
  width: calc(173% + 1.3px);
  height: 92px;
}

.custom-shape-divider-bottom-1648784775 .shape-fill {
  fill: #292e39;
}

// about
.custom-shape-divider-bottom-1648782302 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1648782302 svg {
  position: relative;
  display: block;
  width: calc(140% + 1.3px);
  height: 73px;
}

.custom-shape-divider-bottom-1648782302 .shape-fill {
  fill: #2e3440;
}

// work

.custom-shape-divider-bottom-1648873921 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1648873921 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 101px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1648873921 .shape-fill {
  fill: #2e3440;
}

// projects
.custom-shape-divider-bottom-1648873431 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1648873431 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 81px;
}

.custom-shape-divider-bottom-1648873431 .shape-fill {
  fill: #292e39;
}

// education
.custom-shape-divider-bottom-1648873246 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1648873246 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 112px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1648873246 .shape-fill {
  fill: #292e39;
}
// contact
.custom-shape-divider-bottom-1648872746 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1648872746 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 72px;
}

.custom-shape-divider-bottom-1648872746 .shape-fill {
  fill: #2e3440;
}

// footer
.custom-shape-divider-bottom-1649041410 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1649041410 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 49px;
}

.custom-shape-divider-bottom-1649041410 .shape-fill {
  fill: #2e3440;
}
